.card-body {
  display: block;
  overflow-y: auto;
}
.card img{
  height:230px; 
}
.card:hover {   
  transform: scale(1.01) 
}


@media(min-width: 575px) {
  .card img{
    height:155px;    
  }
  .card-body {
    height:250px ; 
    
  }

}